
# üí° LLM + SQL + Power BI Visualization (Gemini Flash + LangChain + PowerBIClient)

This notebook demonstrates how to:
- Connect to a MySQL database  
- Use **Gemini 2.0 Flash** via LangChain to generate SQL queries from natural language  
- Execute the query and return a DataFrame  
- Visualize reports directly in **Power BI** using the `powerbiclient` library

In [16]:

import os
import re
import pandas as pd
import sqlalchemy as sa
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_community.agent_toolkits.sql.base import create_sql_agent
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from powerbiclient import Report
import dotenv
from powerbiclient import QuickVisualize, get_dataset_config
from powerbiclient.authentication import DeviceCodeLoginAuthentication

# Load environment variables
dotenv.load_dotenv()

True

In [17]:

# ----------------------------------------------------------
# Connect to MySQL Database
# ----------------------------------------------------------
db = SQLDatabase.from_uri("mysql+mysqlconnector://root:Faiz%401234@localhost:3306/Langchain")
print("Database connection established!")

# ----------------------------------------------------------
# Initialize Gemini Flash LLM + LangChain SQL Agent
# ----------------------------------------------------------
llm = ChatGoogleGenerativeAI(model="gemini-2.0-flash", temperature=0)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=False,  
    handle_parsing_errors="Check your output and make sure to conform to the expected format. Use the correct format with Thought:, Action:, and Observation: sections.",
)
print("LLM Agent ready!")

Database connection established!
LLM Agent ready!

In [18]:
def ask_llm(question):
    print(f"\nü§ñ Question: {question}")
    response = agent_executor.invoke({"input": question})
    output = response["output"]

    print(f"\n LLM Output:\n{output}\n")

    try:
        # Extract everything after the first colon in the text that looks like "Name: Value"
        matches = re.findall(r"([A-Za-z\s‚Äô'-]+):\s*([\d.]+)", output)
        if not matches:
            print("No parsable data found in LLM output.")
            return None

        # Build DataFrame
        df = pd.DataFrame(matches, columns=["Customer", "TotalSales"])
        df["TotalSales"] = df["TotalSales"].astype(float)

        print(f" Parsed {len(df)} rows into DataFrame.\n")
        return df

    except Exception as e:
        print(f" Failed to parse LLM output: {e}")
        return None

In [19]:
df = ask_llm("Show me total sales by customer for the last 7 days")

if df is not None and not df.empty:
    df = df.reset_index(drop=True)
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].str.replace("‚Äô", "'", regex=False).str.strip()

    print("‚úÖ Cleaned DataFrame:")
    display(df.head())

    device_auth = DeviceCodeLoginAuthentication()

    # ‚úÖ Now works: schema fully Power BI‚Äìcompliant
    qv = QuickVisualize(get_dataset_config(df), auth=device_auth)
    display(qv)
else:
    print("‚ö†Ô∏è No data returned or query failed.")

ü§ñ Question: Show me total sales by customer for the last 7 days

 LLM Output:
Here are the total sales by customer for the last 7 days:

Tanya Arora: 59998.00
Priya Menon: 18992.00
Aman Gupta: 14998.00
Reema D‚ÄôSouza: 14997.00
Pooja Iyer: 14995.00
Karan Shah: 12995.00
Ananya Verma: 11996.00
Arjun Khanna: 2599.00
Ritika Nair: 1999.00
Ira Kapoor: 1797.00

 Parsed 10 rows into DataFrame.

‚úÖ Cleaned DataFrame:

        Customer  TotalSales
0    Tanya Arora     59998.0
1    Priya Menon     18992.0
2     Aman Gupta     14998.0
3  Reema D'Souza     14997.0
4     Pooja Iyer     14995.0

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code H4DHEDYMF to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

QuickVisualize()